* {
     font-family: "Montserrat" , sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

header {
     margin: 44px 0 144px 76px;
}

.link-header {
     font-weight: 600;
     font-size: 24px;
     line-height: 29px;
     color: #989090;
     cursor: pointer;
     margin-right: 23px;
}

.button-header {
     background: #665AE1;
     border-radius: 20.5px;
     width: 130px;
     height: 41px;
     border: none;
     font-weight: 600;
     font-size: 24px;
     line-height: 29px;
     color: white;
     cursor: pointer;
}

.logo-image {
     width: 568px;
     height: 500px;
     margin-left: 125px;
     display: inline-block;
}

section {
     display: inline-block;
     margin-left: 86px;
}

h1 {
     font-weight: 900;
     font-size: 100px;
     line-height: 122px;
     color: #515151;
}

h2 {
     font-weight: 500;
     font-size: 58px;
     line-height: 71px;
     color: #515151;
}

p {
     font-weight: 400;
     font-size: 24px;
     line-height: 29px;
     color: #848484;
     width: 515px;
     margin: 32px 0 65px 0;
     text-align: left;
}


.button-main {
     background: #ADFF00;
     border-radius: 30.5px;
     width: 239px;
     height: 64px;
     border: none;
     cursor: pointer;
     box-shadow: 0 4px 10px 0 #000;
     font-weight: 700;
     font-size: 28px;
     line-height: 34px;
     color: #000000;
}

    @media  screen and (max-width: 1300px) {
        
         header {
             display: none;
     }

        .logo-image {
             width: 568;
             height: 500;
             margin: 180px 15px 0 15px;
             display: inline-block; 
             padding-left: 60px;
     }

        .button-main {
             border-radius: 30.5px;
             width: 239px;
             height: 64px;
             border: none;
             cursor: pointer;
             box-shadow: 0 4px 10px 0 #000;
             font-weight: 700;
             font-size: 28px;
             line-height: 34px;
     }

        
        h1 {
             font-size: 80px;
             width: 580px;
     }


}

    @media  screen and (max-width: 820px) {
         .button-main {
              background: #ADFF00;
              border-radius: 30.5px;
              width: 239px;
              height: 64px;
     }
}

     @media  screen and (max-width: 670px) {
          .logo-image {
               height: 40%;
     }
               

}